*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background: url("images/msn.png");
	height: 200vh;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.welcome-text{
	position: absolute;
	width: 600px;
	height: 100px;
	margin: 5% 27%;
	text-align: center;
}

.welcome-text h1{
	text-align: center;
	color: #FFF;
	text-shadow: 2px 2px #A9A9A9;
	text-transform: uppercase;
	font-size: 70px;
}

.nav{
	float left;
	margin-left: 1200px;
	list-style-type: none;
}

.nav li{
	display: inline-block;
	margin: 5% 0%;
	border: 1px solid black;
}
.nav li a{
	color: black;
	text-shadow: 1px 1px #A9A9A9;
	text-decoration: none;
	padding: 10px 15px; 
	font-size: 20px;
	transition: 0.6s ease;
	margin-right: 10px;
}

.nav li a:hover{
	background: #fff;
	color: #333;
}

.design{
	position: absolute;
	width: 600px;
	height: 100px;
	margin: 15% 28%;
	text-align: center;
}

.design h1{
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-family: arial;
	font-size: 30px;
}

.principles{
	position: absolute;
	width: 600px;
	height: 50px;
	margin: 20% 28%;
	text-align: center;
}
